<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.healthy.manage.mapper.FoodMapper">
    <resultMap id="BaseResultMap" type="cn.healthy.manage.domain.Food">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="calorie" jdbcType="INTEGER" property="calorie" />
    </resultMap>
    <select id="selectFood" resultMap="BaseResultMap">
        select *
        from food
    </select>
</mapper>