<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.healthy.manage.mapper.ShoppingCarMapper">
    <resultMap id="BaseResultMap" type="cn.healthy.manage.domain.ShoppingCar">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="pro_id" jdbcType="INTEGER" property="proId" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="number" jdbcType="INTEGER" property="number" />
        <result column="total" jdbcType="DECIMAL" property="total" />
    </resultMap>
    <resultMap id="BaseResultMapExtend" type="cn.healthy.manage.domain.ShoppingCarChild" extends="BaseResultMap">
        <result column="proName" jdbcType="VARCHAR" property="proName" />
        <result column="proPic" jdbcType="VARCHAR" property="proPic" />
        <result column="proPrice" jdbcType="DECIMAL" property="proPrice" />
    </resultMap>
    <select id="selectShoppingCarList" resultMap="BaseResultMapExtend" parameterType="java.lang.Integer">
        SELECT a.*,b.name as proName,b.pic as proPic,b.price as proPrice
        FROM shoppingcart a
        INNER JOIN product b on a.pro_id = b.id
        where a.user_id = #{userId,jdbcType=INTEGER}
    </select>
    <select id="countShoppingCar" resultType="java.lang.Integer">
        select count(*)
        from shoppingcart
    </select>
</mapper>